
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  /* background-color: #f4f1ec; */
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-image: url(http://www.transparenttextures.com/patterns/black-mamba.png); */
  background-color:darkcyan
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

 #logo {
  font-family: 'Bungee', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.profile-header {
  margin-bottom: 0;
  margin-top: 0;
  height: 220px;
  overflow-y: auto;
  margin: auto;
}


section.compose-tweet {
  border: round;
  padding-top: 20px;
  overflow-y: auto;
  flex-grow: 1; /* Element will grow to fill available space */
  flex-shrink: 1;
}

.username {
  color: white;
  font-size: 12;
  margin-bottom: 0px;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
}


/* Media query for screens wider than 768 pixels */
@media (min-width: 768px) {
  .container2 {
    flex-direction: row;
  }

  .profile-header {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    background-color: transparent;
    background-color: blueviolet;
    width: 220px;
    height: 220px;
  }

  main {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 70%;
    margin-left: 220px;
  }



  section.compose-tweet {
    margin-top: 25px;
    margin-left: 90px;
    order: 1; /* Added order property */
    margin: auto;
  }

  section.all-tweets {
    width: 80%;
    margin-top: 0;
    order: 2; /* Added order property */
  }
}


