nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  background-image: url(http://www.transparenttextures.com/patterns/black-mamba.png);
  color: #FFFFFF;
  font-size: 30px;
  height: 50px;
  padding: 1.5em;
}

#logo {
  margin-right: auto;
}

.new-tweet {
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin-bottom: 0px;
}

.arrow-down {
  display: flex;
  align-items: flex-end;
}
