/* Compose Tweet Section */
section.compose-tweet {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  font-family: 'Bungee', sans-serif;
}

section.compose-tweet h4 {
  margin: 0;
  font-size: 14px;
}

form.form-box {
  display: inline;
  height: 200px;
}

label[for="text-box"] {
  font-size: 10px;
}

textarea#text-box {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  font-family: 'Bungee', sans-serif;
}

.tweet-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  zoom: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tweet-submit input[type="submit"] {
  background-color: #0084b4;
  color: #fff;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.counter {
  font-size: 15px;
  color: #999;
}

.counter.tweetMaxChars {
  color: red;
  font-weight: bold;
}


/* Tweet Section */
.all-tweets {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.tweets-posted {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 2px solid black;
  width: 100%;
  background-color: white;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px;
  zoom: 40%;
  background-color: white;
  background: solid;
  height: 100px;
}

.tweet-header img {
  height: 100%;
}

.tweet-header .profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tweet-header .profile-name {
  margin-left: 10px;
  font-weight: bold;
}

.tweet-header .profile-id {
  font-weight: bold;
}

#date-tweeted {
  display: flex;
  border-top: 1px solid black;
  border-spacing: 12px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  font-size: 9px;
  font-weight: bold;
}

.tweet-footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  letter-spacing: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  zoom: 60%
}

.tweet-footer-icons div {
  margin-left: 10px;
  cursor: pointer;
}

.fa-flag:hover {
  color:greenyellow;
}
.fa-retweet:hover {
  color:aqua;
}
.fa-heart:hover {
  color: red;
}

#tweet-text {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 10px;
}